@import "tailwindcss";

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

@theme {
  --color-primary: #f8c61e;
  --color-secondary: #252c37;
  --text-black: #000;
  --text-white: #fff;
  --color-bg1: #f6f4f1;
}

